.sideNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(#a93185, #5d3bad ); */
    background:#1e1e28;
    justify-content: space-between;
    width: 17%;
    margin:0px;
}
.logoContainer {
    color: white;
    margin-top: 33px;
    font-size: 28px;
    height: 15%;
    font-weight: 550 !important;
    letter-spacing: 3% !important;
}
.sideOptionsContainer {
    display: flex;
    flex-direction: column;
    height: 75%;

    width: 80%;
}
.optionContainer {
    color: black !important;
    /* background:linear-gradient(#A93185,#5D3BAD); */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    height: 36px;
    font-weight: 600;
    margin-bottom: 24px;
    background-color: white !important;
}
.optionUnselectedContainer{
    /* background-color: #1e1e28; */
    background-color: none !important;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    height: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}
.socialContainer {
    color: white;
    height: 10%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    width:90%;
}
.githubContainer {
    height: 24px;
    width: 24px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discordContainer {
    height: 24px;
    width: 24px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitterContainer {
    height: 24px;
    width: 24px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebookContainer {
    height: 24px;
    width: 24px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}














































































































































































































































































































































































































































































































































